* {
  font-family: 'Times New Roman';
}

body{
  background-color: hsl(210, 100%, 85%)
}

.container {
  text-align: center;
  border: 1px solid black;
  margin: 10px 20px;
  width: auto;
  height: auto;
  background-color: hsl(210, 100%, 90%);
  box-shadow: 0 0 10px black;
}

.inputBox {
  width: 98%;
  height: 400px;
  padding: 0 0.5em;
  background-color: hsl(210, 100%, 90%)
}

.outputBox {
  text-align: left;
  padding: 0 0.5em;
  background-color: hsl(210, 100%, 90%)
}

.header{
  border-bottom: 1px solid black;
  text-align: left;
  padding: 0.1em 1em;
  font-weight: bold;
  font-size: 30px;
  background-color: hsl(210, 100%, 60%)
}